<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sparkseries.module.oss.avatar.dao.AvatarMapper">

    <insert id="insertAvatar">
        insert into user_avatar_metadata(user_id, suffix_name, folder_path, size, storage_type)
        values (#{avatar.userId}, #{avatar.suffixName}, #{avatar.folderPath}, #{avatar.size}, #{avatar.storageType})
    </insert>

    <update id="updateAvatar">
        update user_avatar_metadata
        set suffix_name = #{avatar.suffixName}
            and size = #{avatar.size}
        where user_id = #{avatar.userId}
          and storage_type = #{avatar.storageType}
    </update>

    <select id="getAvatarByUserId" resultType="com.sparkseries.module.oss.avatar.entity.AvatarEntity">
        select *
        from user_avatar_metadata
        where user_id = #{userId}
          and storage_type = #{storageType}
    </select>

</mapper>