<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sparkseries.module.oss.storage.dao.StorageMapper">

    <insert id="insertCloudActive">
        insert into cloud_active(id, type, status)
        values (#{id}, #{type}, 1)
    </insert>

    <delete id="deleteCloudActive">
        update cloud_active
        set status = 0
        where status = 1
    </delete>

    <select id="getCloudActive" resultType="com.sparkseries.module.oss.cloud.entity.CloudActiveEntity">
        select id, type
        from cloud_active
        where status = 1
    </select>
</mapper>