<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sparkseries.module.oss.file.dao.FileMetadataMapper">

    <insert id="insertFile">
        INSERT INTO file_metadata (id, filename, original_name, file_type, file_size, storage_path,
                                   last_update_date, storage_type)
        VALUES (#{file.id}, #{file.filename}, #{file.originalName}, #{file.fileType}, #{file.fileSize},
                #{file.storagePath}, #{file.lastUpdateDate}, #{file.storageType})
    </insert>
    <insert id="insertFolder">
        INSERT INTO folder_metadata (id, folder_name, absolute_path, last_update_date, storage_type)
        VALUES (#{folder.id}, #{folder.folderName}, #{folder.absolutePath}, #{folder.lastUpdateDate},
                #{folder.storageType})
    </insert>

    <delete id="deleteFileById">
        DELETE
        FROM file_metadata
        WHERE id = #{id}
          and storage_type = #{storageType}
    </delete>

    <delete id="deleteFileByPath">
        DELETE
        FROM file_metadata
        WHERE storage_path like concat(#{path}, '%')
          and storage_type = #{storageType}
    </delete>

    <delete id="deleteFolderById">
        DELETE
        FROM folder_metadata
        WHERE id = #{id}
          and storage_type = #{storageType}
    </delete>

    <delete id="deleteFolderByPath">
        DELETE
        FROM folder_metadata
        WHERE absolute_path like concat(#{path}, '%')
          and storage_type = #{storageType}
    </delete>

    <update id="updateFileNameAndPath">
        UPDATE file_metadata
        SET original_name = #{fileName},
            storage_path  = #{path}
        WHERE id = #{id}
          and storage_type = #{storageType}
    </update>

    <update id="updatePath">
        UPDATE file_metadata
        SET storage_path = #{path}
        WHERE id = #{id}
          and storage_type = #{storageType}
    </update>

    <update id="updateFileName">
        UPDATE file_metadata
        SET original_name = #{originalName},
            filename      = #{fileName}
        WHERE id = #{id}
          and storage_type = #{storageType}
    </update>

    <select id="isExistFileByName" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM file_metadata
        WHERE original_name = #{name}
          and storage_path = #{path}
          and storage_type = #{storageType}
    </select>

    <select id="isExistFileById" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM file_metadata
        WHERE id = #{id}
          and storage_type = #{storageType}
    </select>

    <select id="getFileMetadataById"
            resultType="com.sparkseries.module.oss.file.entity.FileMetadataEntity">
        SELECT *
        FROM file_metadata
        WHERE id = #{id}
          and storage_type = #{storageType}
    </select>

    <select id="listFileByPath"
            resultType="com.sparkseries.module.oss.file.vo.FileInfoVO">
        SELECT id, original_name, file_size, last_update_date
        FROM file_metadata
        WHERE storage_path = #{path}
          and storage_type = #{storageType};
    </select>

    <select id="listFolderByPath"
            resultType="java.lang.String">
        SELECT distinct storage_path
        FROM file_metadata
        WHERE storage_path = concat(#{path}, '%')
          and storage_type = #{storageType};
    </select>

    <select id="listFolderNameByPath" resultType="java.lang.String">
        select distinct folder_name
        FROM folder_metadata
        WHERE absolute_path = #{absolute_path}
    </select>


</mapper>