<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sparkseries.module.oss.avatar.dao.AvatarMapper">

    <insert id="insertAvatar">
        insert into sys_user_avatar(id, user_id, avatar_path, size, storage_type)
        values (#{avatar.id}, #{avatar.userId}, #{avatar.absolutePath}, #{avatar.size},
            #{avatar.storageType})
    </insert>

    <update id="updateAvatar">
        update sys_user_avatar
        set avatar_path = #{avatar.absolutePath},
            size = #{avatar.size},
            storage_type = #{avatar.storageType}
        where user_id = #{avatar.userId}
    </update>

    <select id="getAvatarAbsolutePathByUserId" resultType="java.lang.String">
        select avatar_path
        from sys_user_avatar
        where user_id = #{userId}
    </select>

</mapper>